<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        Main Page
    </div>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Log Out"/>
        </form>
    </div>
    <a href="/managers">Managers</a>
</body>
</html>