<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>All managers</title>
</head>
<body>

<div>Add new manager</div>
<div>
    {{#add}}
        {{add}}
    {{/add}}
</div>
<form method="post" action="managers/add" >
    <div><label> Lastname : <input type="text" name="lastname" placeholder="Enter LastName"/> </label></div>
    <div><label> Firstname : <input type="text" name="firstname" placeholder="Enter FirstName"/> </label></div>
    <div><input type="submit" value="Add"/></div>
</form>
<div style="color: red">
    {{#errors_add}}
        {{errors_add}}
    {{/errors_add}}
</div>
<br/>

<div>Delete manager</div>
<form method="post" action="managers/delete">
    <div><label> Lastname : <input type="text" name="lastname" placeholder="Enter LastName"/> </label></div>
    <div><label> Firstname : <input type="text" name="firstname" placeholder="Enter FirstName"/> </label></div>
<button type="submit">Delete</button>
</form>
<div style="color: red">
    {{#errors_delete}}
        {{errors_delete}}
    {{/errors_delete}}
</div>
<br/>

<div>Find manager by name</div>
<form method="post" action="managers/filter">
    <input type="text" name="lastname" placeholder="Enter LastName" />
    <button type="submit">Filter by lastname</button>
</form>
<div style="color: red">
    {{#errors_filter}}
        {{errors_filter}}
    {{/errors_filter}}
</div>

<div>List managers</div>
{{#managers}}
    <div>
        <span>{{firstName}}</span>
        <span style="margin-left: 40px;">{{lastName}}</span>
        <span style="margin-left: 40px;">{{status}}</span>
        <span style="margin-left: 40px;">{{updatedAt}}</span>
    </div>
{{/managers}}

</body>
</html>