<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>All managers</title>
</head>
<body>

Add new manager
<form action="/add" method="post">
    <div><label> User Name : <input type="text" name="firstname"/> </label></div>
    <div><label> Password: <input type="text" name="lastname"/> </label></div>

    <div><input type="submit" value="Sign In"/></div>
</form>

{{#m}}
    <div>
        <b>{{id}}</b>
        <span style="margin-left: 40px;">{{firstName}}</span>
        <span style="margin-left: 40px;">{{lastName}}</span>
        <span style="margin-left: 40px;">{{status}}</span>
        <span style="margin-left: 40px;">{{createdAt}}</span>
        <span style="margin-left: 40px;">{{updatedAt}}</span>
    </div>
{{/m}}

</body>
</html>