<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>All managers</title>
</head>
<body>

{{#m}}
    <div>
        <b>{{id}}</b>
        <span style="margin-left: 40px;">{{firstName}}</span>
        <span style="margin-left: 40px;">{{lastName}}</span>
        <span style="margin-left: 40px;">{{status}}</span>
        <span style="margin-left: 40px;">{{createdAt}}</span>
        <span style="margin-left: 40px;">{{updatedAt}}</span>
    </div>
{{/m}}

</body>
</html>